<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<span *ngIf="update">Update</span>
<header>
  <div class="container">
    <a href="#" class="logo">cookery</a>
  </div>
</header>

<body>
  <div class="flex-container">
    <div class="flex-item-r"> <span class="material-icons md-48 md-light"> event </span> <a href="#" routerLink="/rezepte">Rezepte</a></div>
    <div class="flex-item-p"> <span class="material-icons md-48 md-light"> event </span> <a href="#" routerLink="/essensplan"> Essensplan </a> </div>
    <div class="flex-item-l"> <span class="material-icons md-48 md-light"> event </span> <a href="#" routerLink="/einkaufsliste"> Einkaufsliste </a> </div>
  </div>
 </body>

<div class="container">
  <router-outlet></router-outlet>
</div>

